@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;1,500&display=swap");
body { font-family: 'Barlow Semi Condensed', sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #ecf2f8; }

.container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: auto; }

.grid { display: -ms-grid; display: grid; -ms-grid-rows: auto auto; grid-template-rows: auto auto; grid-template-areas: "daniel      daniel      jonathan    kira" "jeanette    patrick     patrick     kira"; gap: 1.5rem; width: 90%; padding: 3.5rem 0px; }

.grid .item { -webkit-box-shadow: 2px 2px 5px #cfcfcf; box-shadow: 2px 2px 5px #cfcfcf; border-radius: 1rem; }

.grid .item-quote { z-index: -1; position: absolute; right: 4rem; }

.grid .item-container { padding: 1.5rem; }

.grid .item-container-profile { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: left; -ms-flex-pack: left; justify-content: left; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.grid .item-container-profile-img { margin-right: 1.1rem; border-radius: 50%; width: 40px; }

.grid .item-container-profile-information h3 { font-weight: 500; font-size: 1rem; margin-bottom: -11px; margin-top: 1.8rem; }

.grid .item-container-profile-information p { font-size: 0.6rem; font-weight: #48556a; }

.grid .item-container-body { margin-top: -15px; }

.grid .item-container-body-header { font-size: 1.2rem; }

.grid .item-container-body-text { font-size: 0.8rem; line-height: 1.2rem; letter-spacing: .7px; }

.item:nth-child(1) { -ms-grid-row: 1; -ms-grid-column: 1; -ms-grid-column-span: 2; grid-area: daniel; z-index: 2; position: relative; background-color: #7541c8; color: #cfcfcf; }

.item:nth-child(1) .item-container-profile-information-name { color: white; }

.item:nth-child(1) .item-container-body-header { color: white; font-weight: 600; }

.item:nth-child(1) .item-container-body-text { color: rgba(255, 255, 255, 0.514); }

.item:nth-child(1) .item-container-profile-img:nth-child(1) { border: 2px solid #cfcfcf; }

.item:nth-child(2) { -ms-grid-row: 1; -ms-grid-column: 3; grid-area: jonathan; background-color: #48556a; color: #cfcfcf; }

.item:nth-child(2) .item-container-profile-information-name { color: white; }

.item:nth-child(2) .item-container-body-header { color: white; font-weight: 600; }

.item:nth-child(2) .item-container-body-text { color: rgba(255, 255, 255, 0.514); }

.item:nth-child(2) .item-container-profile-img:nth-child(1) { border: 2px solid #cfcfcf; }

.item:nth-child(3) { -ms-grid-row: 2; -ms-grid-column: 1; grid-area: jeanette; background-color: white; color: #19212e; }

.item:nth-child(3) .item-container-profile-information-name { color: #19212e; }

.item:nth-child(3) .item-container-body-header { color: #19212e; font-weight: 600; }

.item:nth-child(3) .item-container-body-text { color: rgba(128, 128, 128, 0.904); }

.item:nth-child(3) .item-container-profile-img:nth-child(1) { border: 2px solid #cfcfcf; }

.item:nth-child(4) { -ms-grid-row: 2; -ms-grid-column: 2; -ms-grid-column-span: 2; grid-area: patrick; background-color: #19212e; color: #cfcfcf; }

.item:nth-child(4) .item-container-profile-information-name { color: white; }

.item:nth-child(4) .item-container-body-header { color: white; font-weight: 600; }

.item:nth-child(4) .item-container-body-text { color: rgba(255, 255, 255, 0.514); }

.item:nth-child(4) .item-container-profile-img:nth-child(1) { border: 2px solid #7541c8; }

.item:nth-child(5) { -ms-grid-row: 1; -ms-grid-row-span: 2; -ms-grid-column: 4; grid-area: kira; background-color: white; color: #19212e; }

.item:nth-child(5) .item-container-profile-information-name { color: #19212e; }

.item:nth-child(5) .item-container-body-header { color: #19212e; font-weight: 600; }

.item:nth-child(5) .item-container-body-text { color: rgba(128, 128, 128, 0.904); }

.item:nth-child(5) .item-container-profile-img:nth-child(1) { border: 2px solid #cfcfcf; }
/*# sourceMappingURL=styles.css.map */